@import url("https://fonts.googleapis.com/css2?family=Itim&family=Jura&family=Lilita+One&family=Montserrat&display=swap");

.register {
  /* border: 1px solid black; */
  width: 30%;
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 30%;
  margin-top: 2%;
  background: url("../../images/Allie_Image\ Gallery.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  opacity: 0.4;
  box-shadow: 0px 0px 15px rgba(8, 230, 93, 0.947);
  border-radius: 10px;
  z-index: 5;
}
.register1 {
  /* border: 1px solid black; */
  width: 30%;
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 30%;
  margin-top: -35.4%;
  border-radius: 10px;
}
.reg-title,
.reg-email,
.reg-password,
.reg-con-password,
.reg-button {
  /* border: 1px solid black; */
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
}

.reg-title > p {
  font-size: 20px;
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-family: "Jura", sans-serif;
  margin-top: 2%;
}
.email-title,
.password-title,
.con-password-title {
  /* border: 1px solid black; */
  width: 100%;
  height: 30%;
  display: flex;
}
.email-title p,
.password-title p,
.con-password-title p {
  margin-left: 3%;
  font-weight: bold;
  font-family: "Jura", sans-serif;
  margin-top: 1%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0);
}
.email-input,
.password-input,
.con-password-input {
  /* border: 1px solid black; */
  width: 100%;
  height: 70%;
  display: flex;
}
.email-input input,
.password-input input,
.con-password-input input {
  /* border: 1px solid black; */
  width: 90%;
  height: 70%;
  margin-top: 1%;
  margin-left: 3%;
  padding-left: 2%;
  display: flex;
  background-color: #fff;
  z-index: 2;
  border-radius: 5px;
  outline: none;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.but-reg {
  /* border: 1px solid black; */
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
}

.but-reg button {
  margin-top: 2%;
  width: 70%;
  height: 70%;
  border-radius: 4px;
  background-color: #2fa969;
  opacity: 1;
  border: none;
  outline: none;
  color: #fff;
  z-index: 2;
}

.but-a {
  /* border: 1px solid black; */
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
}

.but-a p {
  font-size: 12px;
  cursor: pointer;
  color: blue;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0);
}
